@model WebShop.Domain.ViewModels.Product.ProductViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@{
    var textTitle = Model?.ID == Guid.Empty ? "Изменение данных" : "Добавление данных";
}
                <form asp-action="SaveProduct" enctype="multipart/form-data">
                    <input asp-for="ID" hidden />
                    <div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label asp-for="Type"></label>
                        <input asp-for="Type" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label asp-for="Weignt"></label>
                        <input asp-for="Weignt" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <select class="form-control" asp-for="CategoryName" id="productType"></select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" asp-for="CountryName" id="ptoductCountry"></select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" asp-for="ManufactureName" id="ptoductManufacture"></select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" asp-for="InStock" id="productInStock">
                            <option value="true">В наличии</option>
                            <option value="false">Нет в наличии</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" type="number">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Изображение</label>
                        <input asp-for="@Model.IMG" class="form-control" type="file">
                    </div>
                    <button class="btn btn-primary btn-lg float-right" type="submit">Отправить</button>
                </form>


                <script src="~/lib/select2/js/select2.full.min.js"></script>
                <script>
                    $('#productType').select2({
                       placeholder: "Выберите тип",
                       minimumInputLength: 0,
                       allowClear: true,
                       ajax: {
                            type: "POST",
                            url: "@Url.Action("GetTypes", "Product")",
                            dataType: "json",
                            processResults: function (result) {
                                return {
                                    results: $.map(result, function (val, index) {
                                        return {
                                            id: index,
                                            text: val
                                        };
                                    }),
                                };
                            }
                        }
                    });
                                
                </script>

                <script>
                    $('#ptoductCountry').select2({
                       placeholder: "Выберите страну производителя",
                       minimumInputLength: 0,
                       allowClear: true,
                       ajax: {
                            type: "POST",
                            url: "@Url.Action("GetCountrys", "Product")",
                            dataType: "json",
                            processResults: function (result) {
                                return {
                                    results: $.map(result, function (val, index) {
                                        return {
                                            id: val,
                                            text: val
                                        };
                                    }),
                                };
                            }
                        }
                    });
                </script>

                <script>
                    $('#ptoductManufacture').select2({
                       placeholder: "Выберите бренд",
                       minimumInputLength: 0,
                       allowClear: true,
                       ajax: {
                            type: "POST",
                            url: "@Url.Action("GetManufactures", "Product")",
                            dataType: "json",
                            processResults: function (result) {
                                return {
                                    results: $.map(result, function (val, index) {
                                        return {
                                            id: val,
                                            text: val
                                        };
                                    }),
                                };
                            }
                        }
                    });
                </script>

                <style>
                    label {
                        color: black;
                    }
                </style>
