@model WebShop.Domain.ViewModels.Product.ProductViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@{
    var textTitle = Model?.ID == Guid.Empty ? "Изменение данных" : "Добавление данных";
}

<div style="padding: 10px;"></div>
<div class="col-md-12">
    <div class="card-body">
        <div class="card card-outline-secondary" style="background-color: white">
            <div class="card-header">
                <h3 class="mb-0 text-center ParagraphHome">@textTitle</h3>
            </div>
            <div class="card-body">
                <form asp-action="SaveProduct" enctype="multipart/form-data">
                    @*<input asp-for="Id" hidden />*@
                    <div asp-validation-summary="All" style="font-size:23px; font-family:Impact, serif" class="text-danger text-center"></div>
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label asp-for="Type"></label>
                        <input asp-for="Type" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label asp-for="Weignt"></label>
                        <input asp-for="Weignt" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">₽</span>
                        <input asp-for="ManufactureName" type="text" class="form-control">
                        <span class="input-group-text">.00</span>
                    </div>
                    <div class="form-group">
                        <select class="form-control" asp-for="CategoryName" id="carTypeId"></select>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Image" class="form-control" type="file">
                    </div>
                    <button class="btn btn-primary btn-lg float-right" type="submit">Отправить</button>
                </form>
                <script src="~/lib/select2/js/select2.full.min.js"></script>
                <script>
                    $('#carTypeId').select2({
                       placeholder: "Выберите тип",
                       minimumInputLength: 0,
                       allowClear: true,
                       ajax: {
                            type: "POST",
                            url: "@Url.Action("GetTypes", "Product")",
                            dataType: "json",
                            processResults: function (result) {
                                return {
                                    results: $.map(result, function (val, index) {
                                        return {
                                            id: index,
                                            text: val
                                        };
                                    }),
                                };
                            }
                        }
                    });
                </script>

                <style>
                    label {
                        color: black;
                    }
                </style>

            </div>
        </div>
    </div>
</div>
